.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;

}

.input {
  padding: 10px;
  width: 70%;
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 5px;

}

.input:focus {
  outline: none;
}

.weather-data {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.fill2 {
  border: 50px;
}

.city {
  font-size: 40px;
  font-weight: 200;
}

.temp {
  font-size: 90px;
  padding: 50px;
  border: 1px solid lightgray;
  border-radius: 12px;
}

.weather {
  margin-top: 0px;
  font-size: 40px;
  font-weight: 200;
}

.filler {
  padding: 100px;
  border: 50px;
}